.text-and-image {
    display: flex;
    align-items: center;
  }
  
  .text-and-image p {
    margin-right: 20px; /* Adjust the spacing as needed */
  }
  
  .text-and-image img {
    max-width: 100%; /* Ensure the image doesn't overflow */
    height: auto;
  }
  